{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<div class="container">
			<div class="row">
				<div class="d-flex justify-content-center">
					<img class="img-responsive col-11 py-3" src=".\asset\images\position.png" alt="backgroundAcceuil">
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<ul class="menu">
					<li>
						<a class="text-decoration-none text-uppercase" href="/boxes">Le Coffret</a>
					</li>
					<li>
						<a class="text-decoration-none text-uppercase" href="/products">Nos chocolats</a>
					</li>
				</ul>
				<img class="col-3" src=".\asset\images\oeufChoco.png" alt="imgCoffret">
				<img class="col-3" src=".\asset\images\oeufChocoB.png" alt="imgChocolat">

			</div>
		</div>
	</div>

	














<div class="container">
			<div class="row">
			<div class="col-3">



							<img src=".\asset\images\poudreChocoB.png" alt="morceauxChocolat">
							<p>Le meilleur moyen d’apprécier la
								<br>
								subtilité du chocolat, c’est la dégustation.<br>
								Pourtant, ce beau produit mérite aussi
								<br>
								qu’on s’intéresse à son histoire et à ses
								<br>
								secrets.
							</p>
							<button class="btn btn-light border-warning btn-outline-warning" type="submit" value="En savoir +">En savoir +</button>
						</div>
					</div>
					</div>
			</main>
		{% endblock %}
