{% block  body %}
	<div class="container">

		<div class="row">

			<img class="col-12 py-3" src="./asset/images/backgroundchoco.png" alt="bg">
			<br>
		</div>

		<div class="row">

			<div class="col-6">
				<p style="float:left"><img src="./asset/images/fullstrack.png"  alt="fullstrack"></p>
				<p class="text-center fs-5" ><strong> Chocolat FullStrack :</strong> <br>
					Douceur croquant pur au chocolat noir avec le fameux mélange de cranberries séchés, noix de pecan et pistache, ne perdez plus votre temps venez savourez le FullStrack..</p>
				
				<p> Poids : 0.197kg <br> Prix 7.70€</p>

				<a href="{{path('card_add')}} ">
				<i class="fas fa-shopping-cart mr-1"></i>
				Ajouter au panier</a>
				<br>
			</div>


			<div class="col-6 ">
				<p style="float:left"><img src="./asset/images/python.png" alt="pyhton"></p>
				<p class="text-center fs-5"><strong>
					Chocolat Python : </strong><br>
									Le mélange favoris des fans de Mukolat, des morceaux de pistache sur une couche de chocolat au lait, qu'attendez vous pour venir (re)gouter ?</p>
				
				<p> Poids : 0.197kg <br> Prix 6.20€</p>
				
				<a href="#" >
				<i class="fas fa-shopping-cart mr-1"></i>
				Ajouter au panier</a>
				<br>
			</div>
		</div>

		<div class="row">

			<div class="col-6">
				<p style="float:left"><img src="./asset/images/javaquerry2.png" alt="javaquerry"></p>
				<p class="text-center fs-5"><strong>
					Chocolat Javaquery :</strong><br>
					Chocolat blanc fondant caramélisé croquant aux amendes, oranges et poudre de noisettes dans une tablette qui	chahute les papilles et les sensations.</p>
				<p> Poids : 0.197kg <br> Prix 5.70€</p>
				
				<a href="#" >
				<i class="fas fa-shopping-cart mr-1"></i>
				Ajouter au panier</a>
				<br>
			</div>


			<div class="col-6">
				<p style="float:left"><img src="./asset/images/symphauny.png" alt="symphauny"></p>
				<p class="text-center fs-5">
					<strong>Chocolat Symphauny : </strong><br>
										Le classique de tous les temps; cacaos caribéens associés dans une tablette de chocolat noir à 66% mixer avec des moreaux de noisettes, amendes et pistaches.</p>
				<p> Poids : 0.197kg <br> Prix 5.70€</p>
				<a href="#">
				<i class="fas fa-shopping-cart mr-1"></i>
				Ajouter au panier</a>
				<br>
			</div>
		</div>
	</div>

{% endblock %}
