{% extends 'base.html.twig' %}
{% block title %}L'histoire Mukolat
{% endblock %}


{% block  body %}
	<div class="container ">
		<div class="row">
			<div  class="col-12">
				<h3 class="p-3" style=" font-family: 'Cinzel' ;
							color: #C49E55 ">L’histoire du chocolat</h3>

				<hr width="400px">

			

				<p class=" text-center fs-5">L’histoire du chocolat est passionnante et commence il y a plusieurs siècles. Depuis, le cacao et le chocolat ont connu de nombreuses modifications pour finalement devenir l’aliment que tous les Français adorent.
											
											        Les origines du chocolat
											        Avant d’être découvert en 1519 par Hernán Cortés, le cacao était traditionnellement utilisé par les Aztèques et les Mayas, indigènes du Mexique et d’Amérique centrale.
											
											        Réservé à l’élite, il était consommé dans une boisson, le « Tchocoatl », diluée dans l’eau, parfumée à la vanille, à laquelle on ajoutait du piment accompagné d’autres épices, sucré au miel, et battu énergiquement pour former une mousse épaisse à sa surface.
											        Chez les Mayas, il était essentiellement utilisé pour des cérémonies religieuses. Les Aztèques, quant à eux, diffusèrent la fève, au fil de leur expansion dans les autres régions du Mexique.</p>
				<br>
				<p class="fs-5 text-center">Populaire en Espagne, le cacao demeura très longtemps en France à l’usage exclusif de la Cour et de l’aristocratie. Le chocolat français est de ce fait réputé pour être un produit noble car il utilise des forts pourcentages de cacao et un peu de sucre (très rare à l’époque, ce qui en fait une particularité coûteuse).
											        C’est avec l’activité industrielle naissante du début du XIXe siècle, par le développement des techniques de fabrication et, en particulier, la baisse du prix du sucre, que l’industrie chocolatière voit le jour. Ses qualités gustatives et ses vertus en faisant une friandise et une boisson très appréciée.</p><br>
				<p class="fs-5 text-center">C’est également à cette époque que le cacaoyer fut introduit en Afrique par les Portugais et dans le Sud-Est Asiatique par les Hollandais.
											        Aujourd’hui, le cacao est utilisé sous de multiples formes : en boisson, en tablettes, en confiseries de chocolat, en barre, en poudre, en pâtes à tartiner et en chocolat de couverture. L’originalité du chocolat tient à l’extrême diversité de ses déclinaisons et de ses présentations : c’est ce qui fait son charme et son succès.</p><br>
				<p class="fs-5 text-center">
					C’est parce que le chocolat est l’un des aliments les plus appréciés à travers le monde qu’il a sa place dans de très nombreuses occasion : Pâques, Noël, Saint-Valentin… Castelanne s’efforce de travailler son chocolat de manière à révéler au mieux les qualités gustatives de ses produits avec les principales variétés de cacao du monde.</p><br>
			
			</div>
			
				<img class="col-2 " src="./asset/images/usine0.png"  alt="usineMukolat">
				<img class="col-2 " src="./asset/images/chocoo.jpg"  alt="usineMukolat">
			
			
		</div>
	</div>
{% endblock %}
