{% extends 'base.html.twig' %}
{% block title %}Nos coffrets Mukolat
{% endblock %}

{% block body %}
	<main>
		<div class="container">

			<div class="row">
				<div class="col" >

					<h2 class="titre p-4 text-center" style="font-family: 'Cinzel' ">coffret tablettes de chocolats</h2>
					<hr width="600px">
					<p style="float:left"><img src="./asset/images/coffret2.jpg" class="d-block  " alt="coffret2">


					<img src="./asset/images/coffret1.jpg" class="d-block pb-4 " alt="coffret1">
			</p></div>
				</div>
				<div class="row">
				<div class="col">

					<p>Véritable invitation au plaisir du partage et de grignotage gourmand, laissez-vous séduire par cet assortiment de délicieux carrés de chocolat noir, au lait ou blanc, un sublime coffret gourmand et généreux qui allie saupoudrés de fèves de cacao, de caramel d'Isigny, de nougat, de poudre de coco, de noix de pécan, de cranberries séchées, noisettes ou biscuit spéculos.
						<br>Des coffrets de 6 ou  30 chocolats.
					</p>
				<p>Poids pour 30 chocolats : 800g<br> Poids pour 6 chocolats : 1200g</p>
				</div>

				{# a mettre en menu deroulant les prix a choisir 42.70 pour 6 chocolat 
				28.70 pour 30 chocolats#}

				<button class="col-1" type="button">Ajouter au panier</button>

			</div>
		</div>

	</main>
{% endblock %}
