{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-6 col-xs-7">
<h2 style="font-family: 'Cinzel';color: #C49E55 " class="py-3">Nous trouver</h2>
<hr width="300" >
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2647.066647183923!2d1.4759350767860597!3d48.43606063033397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e40c5db2f95d7b%3A0x5f204e31c93843a5!2s7%20Rue%20Jean%20Moulin%2C%2028600%20Luisant!5e0!3m2!1sfr!2sfr!4v1681396123349!5m2!1sfr!2sfr" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" class="ms-3" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>


<div class="col-6">

<h4 style="font-family: 'Cinzel';color: #C49E55" class="py-5 text-center ">Contactez nous</h4><br>
<p class="text-center lh-lg fs-5">


MUKOLAT <br>
Tel:06.99.44.07.26 <br>
mukolat@gmail.com <br>
7  rue Jean Moulin <br>
28600 LUISANT <br>
France</p> 

</div>


</div>
</div>


<div class="container">
<div class="row">
<div class="col-12">
<h2 style="font-family: 'Cinzel';color: #C49E55 " class="py-3">Formulaire de contact</h2>
<hr width="300">



<div>
{{ form(formulaire) }}
</div>

</div>
</div>
</div>

{% endblock %}
