{% extends 'base.html.twig' %}

{% block title %}Edit Orders{% endblock %}

{% block body %}
    <h1>Edit Orders</h1>

    {{ include('admin_orders/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_orders_index') }}">back to list</a>

    {{ include('admin_orders/_delete_form.html.twig') }}
{% endblock %}
