<!--link des réseaux-->

<footer>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p>
					<ins>Informations:</ins><br>
					<a href="/mentions/legales">
						Mentions légales</a>
				</p>

				<ins>
					Contactez nous:</ins><br>

				<a href="/contact">Formulaire de contact</a>

				<br>

				<div class="network d-flex justify-content-center ">
					<i class="fa-brands fa-instagram"></i>
					<i class="fa-brands fa-twitter"></i>
					<i class="fa-brands fa-facebook"></i>
				</div>
				<div class="network d-flex justify-content-end">


					<p>©Mukolat2000</p>

					<img src="./asset/images/logoP.png" alt="logoMukolat">

				</div>

			</div>
		</div>
	</div>
</footer>
